# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Node.js
node_modules/

# Logs
logs
*.log

# Dependency directories
pids
*.pid
*.seed
*.pid.lock

# TypeScript
*.tsbuildinfo

# Environment variables
.env

# Build output
build/
dist/
out/

# IDE and editor files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
